.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

.body_src {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 300px;
  height: 400px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

text {
  font-size: 10px;
}

.log {
  font-size: 12px;
  fill: #00ff00;
}

.src {
  position: relative;
  font-size: 5px;
  color: #00ff00;
  background-color: black;
  height: 450px;
}


rect {
  fill: none;
}

.chart {
  display: block;
  margin: auto;
  margin-top: 100px;
}

.test {
  margin: 5px;
  padding: 2px;
  font-size: 12px;
  font-family: sans-serif;
}

pre {
  border:0px;
  padding:0px;
  white-space: pre-wrap;       /* CSS 3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.body {
  padding: 140px 0 0;
}

.jumbotron {
  padding: 5px 0;
}

.syntaxhighlighter {
   overflow-y: scroll !important;
   overflow-x: hidden !important;
   height: 480px;
}
