.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

.body_src {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 300px;
  height: 400px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

text {
  font-size: 10px;
}

.log {
  font-size: 12px;
  fill: #00ff00;
}

.src {
  position: relative;
  font-size: 5px;
  color: #00ff00;
  background-color: black;
  height: 450px;
}


rect {
  fill: none;
}

.chart {
  display: block;
  margin: auto;
  margin-top: 100px;
}
